.my-2{
    background-color: rgb(252, 251, 251);
    font-size: 15px;
}
h4{
    text-align: center;
}
.index-color-1 {
    color: red;
}

.index-color-2 {
    color: orange;
}

.index-color-3 {
    color: yellow;
}
